@using Travel_Trip_Project.Models.Classes
@model List<blog>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Blog Listesi</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.title</td>
            <td>@item.description.Substring(0, 100)...</td>
            <td><a href="/Admin/DeleteBlog/@item.id" class="btn btn-danger">Sil</a></td>
            <td><a href="/Admin/UpdateBlog/@item.id" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }
</table>

<br />
<div style="margin-top: 15px;">
    @if (ViewBag.CurrentPage > 1)
    {
        <a href="/Admin/Index?page=@(ViewBag.CurrentPage - 1)"
           class="btn btn-default btn-sm">« Önceki</a>
    }
    else
    {
        <button class="btn btn-default btn-sm" disabled>« Önceki</button>
    }

    @for (int i = 1; i <= ViewBag.TotalPages; i++)
    {
        if (i == ViewBag.CurrentPage)
        {
            <a href="/Admin/Index?page=@i"
               class="btn btn-primary btn-sm">@i</a>
        }
        else
        {
            <a href="/Admin/Index?page=@i"
               class="btn btn-default btn-sm">@i</a>
        }
    }

    @if (ViewBag.CurrentPage < ViewBag.TotalPages)
    {
        <a href="/Admin/Index?page=@(ViewBag.CurrentPage + 1)"
           class="btn btn-default btn-sm">Sonraki »</a>
    }
    else
    {
        <button class="btn btn-default btn-sm" disabled>Sonraki »</button>
    }
</div>
<br />
<a href="/Admin/NewBlog/" class="btn btn-primary">Yeni Blog</a>